* {
  box-sizing: border-box;
}

.header {
  background-color: black;
  color: azure;
  padding: 1px;
}
.header h1 {
  margin-left: 45px;
}

.menu {
  width: 10%;
  float: left;
  background-color: rgba(210, 176, 250, 0.514);
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}
.menu ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menu ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main {
  margin-left:11%;
  height: 100%;
  float: left;
  width: 89%;

}


