
.parent {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden;

}
.header {
  background-color: black;
  color: azure;
  padding: 1px;
  height: 10%;
}
.main-content{
  height: 100%;
  width: 100%;
  position: relative;

}
.sidebar {
  margin-top: 4%;
  height: 100%;
  width:10% ;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;


}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
/* @media screen and (max-height: 474px) {
  .sidebar a {font-size: 10px;}
}
@media screen and (max-height: 400px) {
  .sidebar a {font-size: 8px;}
} */
@media screen and  (min-width: 1800px){
  .sidebar {
    margin-top: 4%;
  }
  .sidebar a {font-size: 20px;}
}
@media screen and (max-width: 1799px) and (min-width: 1600px){
  .sidebar {
    margin-top: 4%;
  }
  .sidebar a {font-size: 18px;}
}
@media screen and (max-width: 1599px) and (min-width: 1250px){
  .sidebar {
    margin-top: 5%;
  }
  .sidebar a {font-size: 16px;}

}
@media screen and (max-width: 1249px) and (min-width: 1024px){
  .sidebar {
    margin-top: 6%;
  }
  .sidebar a {font-size: 14px;}

}
@media screen and (max-width: 1023px) and (min-width: 768px){
  .sidebar {
    margin-top: 7%;
  }
  .sidebar a {font-size: 12px;}

}
@media screen and (max-width: 767px) and (min-width: 600px){
  .sidebar {
    margin-top: 9%;
  }
  .sidebar a {font-size: 10px;}

}
@media screen and (max-width: 599px) and (min-width: 500px){
  .sidebar {
    margin-top: 11%;
  }
  .sidebar a {font-size: 8px;}

}
@media screen and (max-width: 499px) and (min-width: 450px){
  .sidebar {
    margin-top: 12%;
  }
  .sidebar a {font-size: 8px;}

}
@media screen and (max-width: 449px) and (min-width: 400px){
  .sidebar {
    margin-top: 13.5%;
  }
  .sidebar a {font-size: 8px;}

}
@media screen and (max-width: 399px) {
  .sidebar {
    margin-top: 14.5%;
  }
  .sidebar a {font-size: 8px;}

}


.main {
  margin-left: 11%; /* Same as the width of the sidenav */
}





